.container {
  background-color: #2d31fa;
  color: black;
}

.add-bd-form {
  display: flex;
  flex-direction: column;
}

.add-bd-form > input {
  width: 25%;
}

.add-bd-form > button {
  width: 4em;
}

.change-width {
  width: 250px;
}
